.hidden-links-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .link-wrapper
    overflow-y: hidden
    display: flex
    flex-wrap: wrap
    // TODO: need to remove cause box to be bigger (card)
    max-width: 200px
    justify-content: center
    transition: max-height 400ms
