// extra things
@import '../sass/default.sass'
@import '../sass/sizes.sass'
@import '../sass/mixins.sass'

.card
   transform: translate3d(0,0,0)
   animation: fadeIn 300ms linear

.project-box
   animation: fadeIn 300ms linear
  
+keyframes(fadeIn)
  0%
    opacity: 0
  100%
    opacity: 1
